* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


main {
    width: 100%;
    height: 100vh;
    position: relative;
}



.carousel {
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    
    
}




.slide {
    height: 100%;
    width: 100%;
    display: none;
    position: relative;
}


 img {

    height: 100%;
    width: 100%;
    object-fit: cover;

}

span {
    position: absolute;
    bottom: 8px;
    left: 16px;
    color: white;
    font-weight: bolder;
    
}


.current {
    display: block;
}


 .previous {
    position: absolute;
    z-index: 5;
    height: 40px;
    width: 40px;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: coral;
    text-align: center;
    border-radius: 50%;
    line-height: 40px;
    font-weight: bolder;
    font-size: 2rem;
    cursor: pointer;
 }

 .next {
    position: absolute;
    z-index: 5;
    height: 40px;
    width: 40px;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: coral;
    text-align: center;
    border-radius: 50%;
    line-height: 40px;
    font-weight: bolder;
    font-size: 2rem;
    cursor: pointer;
   
    
 }


 .hidden {
    display: none;
 }
